// color
$primary-color: #000000;
$title-color: #263238;
$text-color: #8F95A5;
$white-color: #FFFFFF;
$whiter-color: #E5E5E5;
$grid-bg-color: #F5F5F5;
$number-color: #2A3246;
$p-color: #546269;
// font
$site-font: "Poppins", "Arial", sans-serif;